@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap");
body{
  font-family: 'Open Sans'; 
}
.header-image {
width: auto;
height: 500px;
object-fit:cover;
} 

.content-image {
  width: auto;
  height: 500px;
  object-fit: cover;
  display: block;
  
  } 
.headline {
color: rgb(255, 255, 255);
font-size: 30px;
}
.image-container {
  width: 50%;
  height: auto;
  padding: 8px;
}
.navbar {
display:flex;
justify-content: space-between;
align-items: center; 
color:white;
padding-left: 5%;
padding-right: 5%;
background-color: rgb(7, 21, 27);
}

.btn-base {
color: rgb(255, 255, 255);
text-decoration: overline;
margin-left: 16px;
}
.btn-base:hover {
  text-decoration: underline;
}
.text-highlight {
font-size: 14px;
}
.text-container {
background-color: rgb(255, 255, 255);
font-size: 50px;

}

.text-second {
  background-color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
  padding-bottom: 50px;

}

.text-third {
  display: flex;
  justify-content: space-between;
  align-items: top; 
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;

}
.first-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.second-content {
  justify-content: space-between;
  align-items: top;  
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.third-content {
  
  justify-content: space-between;
  align-items: top;  
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.text-front {
    font-size: 30px;
}

.navbar-foot {   
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  color: white;
  background-color: rgb(7, 21, 27);
}
.keinaccount{
  font-size: 30px;
}
a{
  color: black;
}