@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap");

.theorie-list{
    color: black;
    text-decoration: underline;
    font-size: 30px;
}

.btn-theorie{
    color: black;
}
.change-text{
    font-size: 30px;
}