{% extends 'prep/base/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}Login{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'prep/styles/base.css' %}">
{% endblock %}

{% block main_content %}
<h3>Um Zugriff auf die Übungen zu haben, müssen Sie sich <a href="{% url 'login' %}">einloggen.</a></h3>
<p>Don't have an account? Create one <a href="/register">here!</a></p> 

{% endblock %}

{% block second_content %}

{% endblock %}

{% block third_content %}

{% endblock %}
