{% extends 'prep/base/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}Login{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'prep/styles/base.css' %}">
{% endblock %}

{% block main_content %}
<div class="text-container">Leider bist Du noch nicht angemeldet!</div>
{% endblock %}


{% block second_content %}
<div class="keinaccount">
  Um Zugriff auf die Übungen und die Theorie zu erhalten, musst Du Dich <a href="{% url 'login' %}">einloggen.</a>
</div>
<br>
<div class ="keinaccount">
  Hast Du noch keinen Account? Erstelle einen <a href="/register">hier!</a>
</div>

{% endblock %}

{% block third_content %}

{% endblock %}
