{% extends 'prep/base/base.html' %}

{% load static %}

{% block title %}Smartprep{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'prep/styles/base.css' %}">
{% endblock %}

{% block main_content %}
<div class="text-container">
    Bereite dich bei uns für die Gymiprüfung vor<br>
    <span class="text-front">Mach jetzt die Standortbestimmung, um deinen individuellen Lernplan zu bekommen</span><br>
    <br>
    
    
    <button class="button-23" role="button">Start Now!</button>
</div>
<div class= "image-container">
    <img class="header-image" src="{% static 'prep/images/header.jpg' %}">
</div>
{% endblock %}

{% block second_content %}
<div class="navbar-text">
	Individueller Lernplan
	<div>
		Übungen sowie Schritt für Schritt Lernvideos
	</div>
</div>
{% endblock %}

{% block third_content %}
<div class="navbar-text">
	Test Text<br>
	test weiter unten
</div>
{% endblock %}
