{% extends 'prep/base/base.html' %}

{% load static %}

{% block title %}Mathematik{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'prep/styles/math.css' %}">
{% endblock %}


{% block main_content %}
<div class="text-container">Mathematikübungen</div>
{% endblock %}

{% block second_content %}
<div class = "text-third">Folgende Übungen stehen zur Verfügung:</div>
  <ol class= "uebung-list">
      {% for uebung_item in uebung %}
      {% include 'prep/includes/uebung-item.html' with id=uebung_item.id titel=uebung_item.titel slug=uebung_item.slug %}
      {% endfor %}
  </ol>
{% endblock %}

{% block third_content %}
<div class="change-text">
  <div><a href="{% url 'theorie' %}"class="btn-theorie">Hier </a>findest Du die Theorie</div>
</div>
{% endblock %}



