{% extends 'prep/base/base.html' %}

{% load static %}

{% block title %}Mathematik{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'prep/styles/math.css' %}">
{% endblock %}

{% block main_content %}
<h1>Mathematikübungen</h1>
{% endblock %}

{% block second_content %}
  <div>Folgende Übungen stehen zur Verfügung:</div>
  {% if show_uebung %}
  <ol>
      {% for uebung_item in uebung %}
      {% include 'prep/includes/uebung-item.html' with id=uebung_item.id titel=uebung_item.titel slug=uebung_item.slug %}
      {% endfor %}
  {% else %}
  <p>Keine Übungen vorhanden.</p>
  {% endif %}
</ol>
{% endblock %}

{% block third_content %}
<P>Hier kann ein Theorie-Knopf sein.</P>
{% endblock %}
