{% extends 'prep/base/base.html' %}

{% load static %}

{% block title %}{{ thema_name }}{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'prep/styles/math.css' %}">
{% endblock %}

{% block main_content %}

{% if thema_found %}
<h1>{{ thema_name }}</h1>
{% else %}

<p>Keine Übung mit diesem Namen vorhanden.</p>
{% endif %}

{% endblock %}

{% block second_content %}
<h2>{{ thema_inhalt }}</h2>
{% endblock %}

{% block third_content %}
<div class="change-text">
  <a href="{% url 'math' %}"class="btn-theorie">Hier </a>findest Du die Uebungen</div>
  </div>
{% endblock %}








