{% extends 'prep/base/base.html' %}

{% load static %}

{% block title %}Theorieübersicht{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'prep/styles/theorie.css' %}">
{% endblock %}


{% block main_content %}
<div class="text-container">Theorie</div>
{% endblock %}

{% block second_content %}
<div class = "text-third">Folgende Theorie steht zur Verfügung:</div>
  <ol>
      {% for thema_item in thema|dictsort:"name" %}
      {% include 'prep/includes/thema-detail.html' with id=thema_item.id name=thema_item.name slug=thema_item.slug %}
      {% endfor %}
  </ol>
{% endblock %}

{% block third_content %}
<div class="change-text">
<div><a href="{% url 'math' %}"class="btn-theorie">Hier </a>findest Du die Übungen</div>
</div>
{% endblock %}









