{% extends 'prep/base/base.html' %}

{% load static %}

{% block title %}Theorieübersicht{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'prep/styles/math.css' %}">
{% endblock %}


{% block main_content %}
<h1>Theorie</h1>
{% endblock %}

{% block second_content %}
  <div>Folgende Theorie steht zur Verfügung:</div>
  <ol>
      {% for thema_item in thema|dictsort:"name" %}
      {% include 'prep/includes/thema-detail.html' with id=thema_item.id name=thema_item.name slug=thema_item.slug %}
      {% endfor %}
  </ol>
{% endblock %}

{% block third_content %}
<P>Zu den Übungen</P>
{% endblock %}









