{% extends 'prep/base/base.html' %}

{% load static %}

{% block title %}{{ uebung_titel }}{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'prep/styles/math.css' %}">
{% endblock %}



{% block main_content %}

{% if uebung_found %}
<div class="text-container">{{ uebung_titel }}</div>
{% else %}
<div class="text-container">Keine Übung mit diesem Namen gefunden</div>
{% endif %}


{% endblock %}

{% block second_content %}

<div class="uebung-frage">{{ uebung_frage }}</div>
<div class = "antwort-feld">
  <form  method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class= "check-actions">
      <button class= "überprüfen">Überprüfen</button>
    </div>
  </form>
</div>



{% endblock %}

{% block third_content %}
<div class="change-text">
<a href="{% url 'theorie' %}"class="btn-theorie">Hier </a>findest du die Theorie</div>
</div>
{% endblock %}








