{% extends 'prep/base/base.html' %}

{% load static %}

{% block title %}{{ uebung_titel }}{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'prep/styles/math.css' %}">
{% endblock %}



{% block main_content %}

{% if uebung_found %}
<h1>{{ uebung_titel }}</h1>
{% else %}

<p>Keine Übung mit diesem Namen vorhanden.</p>
{% endif %}

{% endblock %}

{% block second_content %}

<h2>{{ uebung_frage }}</h2>
<form  method="POST">
  {% csrf_token %}
  <ul>
    {{ form.as_p }} 
  </ul>
  <div class= "check-actions">
    <button>Überprüfen</button>
  </div>
</form>

{% endblock %}

{% block third_content %}
<div>Folgende Theorie steht zu diesem Thema zur Verfügung:</div>

{% endblock %}








