{% extends 'prep/base/base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'prep/styles/base.css' %}">
{% endblock %}

{% block main_content %}
<form method="post" class="from-group">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn-success">Login</button>
    <p>Don't have an account? Create one <a href="/register">here!</a></p> 
</form>


{% endblock %}

{% block second_content %}

{% endblock %}

{% block third_content %}

{% endblock %}
