{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'prep/styles/base.css' %}">
	{% block site_css %}{% endblock %}
</head>
<body>
	<div class="navbar">
		<h1 class="headline">
			<a class="btn-base" href="{% url 'home' %}" >Smartprep</a><br>
			<span class="text-highlight">Smart durch die Gymi-Prüfung!</span>
		</h1>
		<div>
			<a href="{% url 'login' %}" class="btn-base">Login </a>
			<a href="{% url 'math' %}"class="btn-base">Übungen</a>
			<a href="{% url 'theorie' %}"class="btn-base">Theorie</a>
			<a href="{% url 'logout' %}"class="btn-base">Logout</a>
		</div>
	</div>

	<div class="first-content">{% block main_content %}{% endblock %}</div>
	
	<div class="second-content">{% block second_content %}{% endblock %}</div>

	<div class="third-content">{% block third_content %}{% endblock %}</div>

	<div class="navbar-foot">
	CASE Projektarbeit 2022 Tolic und Vögeli 	
	</div>
</body>
</html>